<h2>EQUIPO DE DESARROLLO</h2>
        <br>
    <section id="personas">
        
        <div class="caja">
            <img src="https://github.com/Amarilla-ss.png" alt="Foto Manuela">
            <h4>Manuela Álvarez</h4>
            <p>Actualmente estudio para ser software developer, me gusta mucho la innovacion y aprender cosas nuevas todos los días.</p>
            <a href="https://github.com/Amarilla-ss" target="_blank" rel="noopener noreferrer" class="boton-mas">Saber Más</a>
        </div>
        <div class="caja">
            <img src="https://github.com/Valerestan.png" alt="Foto Valentina">
            <h4>Valentina Restan</h4>
            <p>Diseñaroda Gráfica y estudiante de Desarrollo Web, con una gran pasión por la creación digital.</p>
            <a href="https://github.com/Valerestan" target="_blank" rel="noopener noreferrer" class="boton-mas">Saber Más</a>
        </div>
        <div class="caja">
            <img src="https://github.com/snovoa6669.png" alt="Foto Sergio">
            <h4>Sergio Novoa</h4>
            <p>Quiero formarme como programador full stack para formar semilleros en los colegios de mi pueblo para formar futuros programadores.</p>
            <a href="https://github.com/snovoa6669" target="_blank" rel="noopener noreferrer" class="boton-mas">Saber Más</a>
        </div>
        <div class="caja">
            <img src="https://github.com/Alexa921.png" alt="Foto Alexandra">
            <h4>Alexandra Restrepo</h4>
            <p>Soy un estudiante de BIT con pasión por crear soluciones innovadoras y amor por aprender nuevas tecnologías.</p>
            <a href="https://github.com/Alexa921" target="_blank" rel="noopener noreferrer" class="boton-mas">Saber Más</a>
        </div>
        <div class="caja">
            <img src="https://github.com/jsanabria202.png" alt="Foto Javier">
            <h4>Javier Sanabria</h4>
            <p>Soy estudiante en BIT, aprendiendo en los temas relacionados a la parte frontend y backend del desarrollo de paginas web</p>
            <a href="https://github.com/jsanabria202" target="_blank" rel="noopener noreferrer" class="boton-mas">Saber Más</a>
        </div>
        <div class="caja">
            <img src="https://github.com/juanito-alimanha.png" alt="Foto Juan">
            <h4>Juan Jose Aguirre</h4>
            <p>Hola mi nombre es Juan Jose, soy estudiante de desarrollo de software orientado al desarrollo web.</p>
            <a href="https://github.com/juanito-alimanha" target="_blank" rel="noopener noreferrer" class="boton-mas">Saber Más</a>
        </div>
         <div class="caja">
            <img src="https://github.com/luisfer192.png" alt="Foto Luis">
            <h4>Luis Muñoz</h4>
            <p>Soy un tecnólogo en sistemas con experiencia en áreas técnicas, incluyendo cámaras de seguridad y telefonía móvil.</p>
            <a href="https://github.com/luisfer192" target="_blank" rel="noopener noreferrer" class="boton-mas">Saber Más</a>
        </div>
        <div class="caja">
            <img src="https://github.com/BNarvaez.png" alt="Foto Brayan">
            <h4>Brayan Narvaez</h4>
            <p>Quiero ser un desarrollador de software con una fuerte pasión por el aprendizaje, dedicado a crear soluciones innovadoras y eficientes.</p>
            <a href="https://github.com/BNarvaez" target="_blank" rel="noopener noreferrer" class="boton-mas">Saber Más</a>
        </div>
        <div class="caja"> 
            <img src="https://github.com/alvarobahos.png" alt="Foto Alvaro">
            <h4>Alvaro Bahos</h4>
            <p>soy de profesion en Seguridad y Salud en el Trabajo y con posibilidad de aportar mi experiencia y seguir aprendiendo en este entorno.</p>
            <a href="https://github.com/alvarobahos" target="_blank" rel="noopener noreferrer" class="boton-mas">Saber Más</a>
        </div>
        <div class="caja">
            <img src="https://github.com/DANY10cruz.png" alt="Foto Daniel">
            <h4>Daniel Cruz</h4>
            <p>Estudiante de Desarrollo Full Stack con una sólida base en desarrollo web. Apasionado por crear interfaces de usuario intuitivas y funcionales.</p>
            <a href="https://github.com/DANY10cruz" target="_blank" rel="noopener noreferrer" class="boton-mas">Saber Más</a>
        </div>
        <div class="caja">
            <img src="https://github.com/nicolasmontielX.png" alt="Foto Nicolas">
            <h4>Nicolas Montiel</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, rerum?
            </p>
            <a href="https://github.com/nicolasmontielX" target="_blank" rel="noopener noreferrer" class="boton-mas">Saber Más</a>
        </div>
        <div class="caja">
            <img src="https://github.com/javierandres-dev.png" alt="Foto Javier">
            <h4>Javier Andres</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, rerum?
            </p>
            <a href="https://github.com/javierandres-dev" target="_blank" rel="noopener noreferrer" class="boton-mas">Saber Más</a>
        </div>

    </section>
