<h2>EQUIPO DE DESARROLLO</h2>
        <br>
    <section class="container">
        <div class="row row-cols-1 row-cols-md-4 g-5 p-5 text-center">
            @for (equi of equipo; track $index) {
                <div class="col">
                    <div class="card">
                        <img src="{{equi.img}}" class="card-img-top" alt="{{equi.name}}">
                        <div class="card-body">
                        <h5 class="card-title">{{equi.name}}</h5>
                        </div>
                        <a href="{{equi.enlace}}" target="_blank" rel="noopener noreferrer" class="boton-mas">Saber Más</a>
                    </div>
                </div>
            }
        </div>
    </section>
